#the-editor {
  padding: 0;
  margin: 40px 40px 0;
  outline: 0px solid transparent;
  display: inline-block;
}

#node-editor {
  display: grid;
  grid-template-columns: 1fr 500fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
}

#side-buttons {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}